<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1d9a2db3-8f4b-4349-b67c-e774e8f5b1a2/resourceGroups/GustavoTrabalhoDM106/providers/Microsoft.Web/sites/GustavoTrabalhoDM106</ResourceId>
    <ResourceGroup>GustavoTrabalhoDM106</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gustavotrabalhodm106.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>gustavotrabalhodm106.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GustavoTrabalhoDM106</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GustavoTrabalhoDM106</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:gustavodm106dbserver2.database.windows.net,1433;Initial Catalog=GustavoDM106DB2;User ID=gustavocaraujo;Password=#Gca621321" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TrabalhoDM106.Models.ApplicationDbContext, TrabalhoDM106" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TrabalhoDM106Context" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:gustavodm106dbserver2.database.windows.net,1433;Initial Catalog=GustavoDM106DB2;User ID=gustavocaraujo;Password=#Gca621321" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TrabalhoDM106.Models.TrabalhoDM106Context, TrabalhoDM106" MigrationConfiguration="TrabalhoDM106.Migrations.Configuration, TrabalhoDM106" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TrabalhoDM106Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gustavodm106dbserver2.database.windows.net,1433;Initial Catalog=GustavoDM106DB2;User ID=gustavocaraujo;Password=#Gca621321</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gustavodm106dbserver2.database.windows.net,1433;Initial Catalog=GustavoDM106DB2;User ID=gustavocaraujo;Password=#Gca621321</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TrabalhoDM106Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gustavodm106dbserver2.database.windows.net,1433;Initial Catalog=GustavoDM106DB2;User ID=gustavocaraujo;Password=#Gca621321</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gustavodm106dbserver2.database.windows.net,1433;Initial Catalog=GustavoDM106DB2;User ID=gustavocaraujo;Password=#Gca621321</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TrabalhoDM106Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gustavodm106dbserver2.database.windows.net,1433;Initial Catalog=GustavoDM106DB2;User ID=gustavocaraujo;Password=#Gca621321</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gustavodm106dbserver2.database.windows.net,1433;Initial Catalog=GustavoDM106DB2;User ID=gustavocaraujo;Password=#Gca621321</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TrabalhoDM106Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gustavodm106dbserver2.database.windows.net,1433;Initial Catalog=GustavoDM106DB2;User ID=gustavocaraujo;Password=#Gca621321</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gustavodm106dbserver2.database.windows.net,1433;Initial Catalog=GustavoDM106DB2;User ID=gustavocaraujo;Password=#Gca621321</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TrabalhoDM106Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gustavodm106dbserver2.database.windows.net,1433;Initial Catalog=GustavoDM106DB2;User ID=gustavocaraujo;Password=#Gca621321</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gustavodm106dbserver2.database.windows.net,1433;Initial Catalog=GustavoDM106DB2;User ID=gustavocaraujo;Password=#Gca621321</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TrabalhoDM106Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gustavodm106dbserver2.database.windows.net,1433;Initial Catalog=GustavoDM106DB2;User ID=gustavocaraujo;Password=#Gca621321</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gustavodm106dbserver2.database.windows.net,1433;Initial Catalog=GustavoDM106DB2;User ID=gustavocaraujo;Password=#Gca621321</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TrabalhoDM106Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gustavodm106dbserver2.database.windows.net,1433;Initial Catalog=GustavoDM106DB2;User ID=gustavocaraujo;Password=#Gca621321</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gustavodm106dbserver2.database.windows.net,1433;Initial Catalog=GustavoDM106DB2;User ID=gustavocaraujo;Password=#Gca621321</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TrabalhoDM106Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gustavodm106dbserver2.database.windows.net,1433;Initial Catalog=GustavoDM106DB2;User ID=gustavocaraujo;Password=#Gca621321</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gustavodm106dbserver2.database.windows.net,1433;Initial Catalog=GustavoDM106DB2;User ID=gustavocaraujo;Password=#Gca621321</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TrabalhoDM106Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gustavodm106dbserver2.database.windows.net,1433;Initial Catalog=GustavoDM106DB2;User ID=gustavocaraujo;Password=#Gca621321</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gustavodm106dbserver2.database.windows.net,1433;Initial Catalog=GustavoDM106DB2;User ID=gustavocaraujo;Password=#Gca621321</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TrabalhoDM106Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gustavodm106dbserver2.database.windows.net,1433;Initial Catalog=GustavoDM106DB2;User ID=gustavocaraujo;Password=#Gca621321</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gustavodm106dbserver2.database.windows.net,1433;Initial Catalog=GustavoDM106DB2;User ID=gustavocaraujo;Password=#Gca621321</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TrabalhoDM106Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gustavodm106dbserver2.database.windows.net,1433;Initial Catalog=GustavoDM106DB2;User ID=gustavocaraujo;Password=#Gca621321</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gustavodm106dbserver2.database.windows.net,1433;Initial Catalog=GustavoDM106DB2;User ID=gustavocaraujo;Password=#Gca621321</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TrabalhoDM106Context-Web.config Connection String">
      <ParameterValue>data source=tcp:gustavodm106dbserver2.database.windows.net,1433;initial catalog=GustavoDM106DB2;user id=gustavocaraujo;password=#Gca621321;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gustavodm106dbserver2.database.windows.net,1433;Initial Catalog=GustavoDM106DB2;User ID=gustavocaraujo;Password=#Gca621321</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>